asgiref==3.6.0
autopep8==2.0.1
certifi==2022.12.7
distlib==0.3.6
Django==4.1.7
django-cors-headers==3.13.0
djangorestframework==3.14.0
filelock==3.9.0
pipenv==2023.2.4
platformdirs==2.6.2
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pytz==2022.7.1
sqlparse==0.4.3
tomli==2.0.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
